.form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
