.container {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    border: 1px solid var(--clr-border-hover);
    padding: 0.5rem 0.75rem;
    border-radius: 1.5rem;
}

.textarea {
    appearance: none;
    border: none;
    outline: none;
    resize: none;
    background: transparent;

    flex: 100%;
    font-size: var(--fz-100);
}
