.container {
    position: relative;
}

.modal {
    position: absolute;
    z-index: 1;
    margin: 0.5rem 0;
}

.bottom-right {
    top: 100%;
    right: 0;
}

.bottom-left {
    top: 100%;
    left: 0;
}

.top-right {
    bottom: 100%;
    right: 0;
}

.top-left {
    bottom: 100%;
    left: 0;
}
