@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fontFamily: "Roboto", Arial, sans-serif;

    --fz-50: 0.85rem;
    --fz-100: 1rem;
    --fz-200: 1.25rem;
    --fz-200: 1.5rem;
    --fz-300: 3rem;

    --clr-text-primary: rgba(0, 0, 0, 0.87);
}

html {
    font-family: var(--fontFamily);
}

ul,
ol {
    list-style-position: inside;
    list-style: none;
}
