.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.25rem;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
